$font-maps: (
  'Work Sans':                         ( family: 'Work Sans',       file: 'WorkSans-Regular',       weight: 400, style: normal ),
);

$primary: #DD2735;
$dark: #191C1E;

$card-spacer-y:                     39px !default;
$card-spacer-x:                     43px !default;
$card-border-width:                 0 !default;
$card-border-radius:                20px !default;
